$black-color: #000;
$grey-color: #727272;
$white-color: #fff;

.wrapper {
  background: $white-color;
  border-radius: 8px;
  border: 1.083px solid $white-color;
  padding: 12px;

  // display: flex;
  // justify-content: end;
  // align-items: end;
}

// .top {
// }

// .title {
//   color: $black-color;
//   font-family: Gilroy;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .text {
//   color: $grey-color;
//   font-family: Gilroy;
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }

// .img {
// }
