$black-color: #000;
$blue-color: #3286c2;

.auctionItems {
  margin-bottom: 50px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.auctionItemsInner {
}

.auctionItemsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.title {
  color: $black-color;

  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.catalog {
  text-decoration: none;

  color: $blue-color;

  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.carouselContainer {
  display: flex;
  gap: 10px;
}

.emblaSlide {
  flex: 0 0 199px;
  min-width: 0;
}
