$black-color: #000;

.news {
  margin-bottom: 49px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.newsInner {
  position: relative;
}

.title {
  color: $black-color;
  margin-bottom: 18px;
  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.embla {
  overflow: hidden;
}
.emblaContainer {
  display: flex;
  gap: 17px;
}
.emblaSlide {
  flex: 0 0 401px;
  min-width: 0;
}

.emblaButtons {
  display: flex;
  align-items: center;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: -65px;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: -65px;
}
