$black-color: #000;
$black-2-color: #1a1919;
$green-color: #73cb5e;
$blue-color: #3286c2;
$grey-color: #f5f5f5;
$dark-grey-color: #808080;
$white-color: #fff;
$red-color: #ff0000;

.product {
  height: 341px;
  padding: 10px;
  background: $white-color;
  border-radius: 8.291px;
  border: 1.083px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productTop {
  position: relative;
}

.productImg {
  width: 175px;
  height: 149px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.activeFavorite {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 24.874px;
  height: 24.874px;
}

.productTitle {
  color: $black-2-color;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-bottom: 7px;
}

.productPrices {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productPrice {
  color: $black-color;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2px;
}
.productPriceWithDiscount {
  color: $red-color;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2px;
}

.productPriceDiscount {
  color: $dark-grey-color;

  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: line-through;
}

.productBottom {
}

.productStatus {
  color: $green-color;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}

.productTypeWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 7px;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: $blue-color;
}

.productType {
  color: $blue-color;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quantityWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minus {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: $grey-color;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $blue-color;
  }

  .minusImg {
    width: 24px;
    height: 24px;
    fill: $black-color;
    transition: all 0.5s ease;
  }

  &:hover * {
    fill: $white-color;
  }
}

.quantity {
  color: $black-color;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.plus {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: $grey-color;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $blue-color;
  }

  .plusImg {
    width: 24px;
    height: 24px;
    fill: $black-color;
    transition: all 0.5s ease;
  }

  &:hover * {
    fill: $white-color;
  }
}

.arrowLeft {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 227px;
  left: -20px;
  z-index: 2;
  pointer-events: none;
}

.arrowRight {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 227px;
  right: -20px;
  z-index: 2;
  pointer-events: none;
}
