$black-color: #000;

.categories {
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.categoriesInner {
  margin-bottom: 55px;
}

.title {
  color: $black-color;
  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 170px);
  gap: 9px;
}

@media (max-width: 1260px) {
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1080px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 850px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 730px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 520px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 410px) {
  .title {
    font-size: 20px;
  }

  .catalog {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
