.embla {
  overflow: hidden;
}

.emblaButtons {
  display: flex;
  align-items: center;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: -65px;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: -65px;
}

@media (max-width: 1368px) {
  .emblaButtons {
    display: none;
  }

  .prevButton {
    // left: -65px;
    display: none;
  }

  .nextButton {
    // right: -65px;
    display: none;
  }
}
