.embla {
  overflow: hidden;
}

.emblaButtons {
  display: flex;
  align-items: center;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: -65px;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: -65px;
}
