$blue-color: #2d82be;
$dark-blue-color: rgba(0, 0, 0, 0.1);
$white-color: #fff;
$grey-color: #c1c1c1;

.header {
  background: $blue-color;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  padding: 15px 0;
}

.logo {
  width: 115px;
  height: 30px;
}

.buttonSearchAndProfileGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.button {
  padding: 14px 25px 11px;
  border-radius: 100px !important;
  background: $dark-blue-color !important;

  font-family: Gilroy;
  font-weight: 500;
  line-height: 100%; /* 15px */
  font-size: 15px;
  font-style: normal;

  display: flex;
  align-items: center;
  gap: 15px;

  &Img {
    width: 18px;
    height: 18px;
  }
}

.searchbar {
  width: 100%;
}

.searchbarWrapper {
  background: $white-color;
  border-radius: 1000px;
  padding: 11px 21px 11px 14px;
}

.loginOrRegisterAndProfileGroup {
  display: flex;
  align-items: center;
  gap: 9px;
}

.loginOrRegisterGroup {
  width: 124px;
  display: flex;
  flex-direction: column;
}

.textWelcome {
  font-family: Gilroy;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $white-color;
}

.loginOrRegister {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $white-color;
  cursor: pointer;
  text-decoration: none;
}

.profileAndCart {
  display: flex;
  gap: 10px;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $white-color;
  border: 1px solid $grey-color;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &Img {
    width: 17px;
    height: 17px;
  }
}

.verticalLine {
  width: 1px;
  height: 30px;
  background: $grey-color;
}

.cart {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $white-color;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &Img {
    width: 15px;
    height: 14px;
  }
}
